body {
    padding: 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
A {
    text-decoration: none;
    color: black;
}
.list-wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.listing-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "img-wrapper listing-info-wrapper listing-info-wrapper";
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}
.img-wrapper {

}
.listing-info-wrapper {

}