{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="list-wrapper">
        {% for listing in listings %}
        <a href="{% url "listing" title=listing.title %}">
            <div class="listing-wrapper">
                <div class="img-wrapper">
                    <img src="{{ listing.image }}">
                </div>
                <div class="listing-info-wrapper">
                    <h3>{{ listing.title }}</h3>
                    <h5>Category: {{ listing.category }}</h5>
                    <h5>Posted By {{ listing.user }} at {{ listing.date_posted }}</h5>
                    <p>{{ listing.description }}</p>
                    {% if listing.bids.all %}
                        <h6>Current Price: {{ listing.bids.first.amount }}</h6>
                    {% else %}
                        <h6>Current Price: {{ listing.starting_bid }}</h6>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}