{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>

    <div class="list-wrapper">
        <div class="listing-wrapper">
            <div class="img-wrapper">
                <img src="{{ listing.image }}">
            </div>
            <div class="listing-info">
                <h3>{{ listing.title }}</h3>
                <h5>Category: {{ listing.category }}</h5>
                <h5>Posted by: {{ listing.user }} at {{ listing.date_posted }}</h5>
                <p>{{ listing.description }}</p>
                {% if listing.bids.all %}
                    <h6>Current Price: {{ listing.bids.first.amount }}</h6>
                {% else %}
                    <h6>Current Price: {{ listing.starting_bid }}</h6>
                {% endif %}
            </div>
            <div>
                <form action="{% url "bid" %}" method="post">
                    <div class="form-group">
                        {{ form.amount.label_tag }}
                        {{ form.amount }}
                        {% if form.errors %}
                            {% for error in form.amount.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <input type="hidden" name="title" value="{{ listing.title }}">
                </form>
                
            {% if watched %}
                <form action="{% url "watchlist_delete" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ listing.title }}">
                    <input class="btn btn-danger" type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url "watchlist_add" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ listing.title }}">
                    <input class="btn btn-success" type="submit" value="Add to Watchlist">
                </form>
            {% endif %}
            </div>

        </div>
    </div>
{% endblock %}