{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <div class="list-wrapper">
        {% for watched in listings %}
        <a href="{% url "listing" title=watched.listing.title %}">
            <div class="listing-wrapper">
                <div class="img-wrapper">
                    <img src="{{ watched.listing.image }}">
                </div>
                <div class="listing-info">
                    <h3>{{ watched.listing.title }}</h3>
                    {% if listing.bids.all %}
                        <h5>Current Price: ${{ listing.bids.first.amount }}</h5>
                    {% else %}
                        <h5>Current Price: ${{ listing.starting_bid }}</h5>
                    {% endif %}
                    <h6>Category: {{ watched.listing.category }}</h6>
                    <h6>Posted by {{ watched.listing.user }} {{ watched.listing.date_posted|timesince }} ago.</h6>
                    <p>{{ watched.listing.description|truncatechars:400 }}</p>
                </div>
                <form action="{% url "watchlist_delete" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ watched.listing.title }}">
                    <input class="btn btn-danger" type="submit" value="Remove from Watchlist">
                </form>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}